<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="Sonar" type="Infragravity.Sonar.SonarConfigurationSection, Sonar"/>
  </configSections>
  <connectionStrings>
    <add name="wsman" providerName="wsman" connectionString="Server=win7;" />
    <add name="dcom10" providerName="dcom" connectionString="Server=win7;" />
    <add name="influxdb" providerName="influx" connectionString="Data Source = udp://10.0.0.177:8092;Initial Catalog=sonar;User Id =; Password =; Application Name = default;Max Pool Size=100;Packet Size=4094;Connection Timeout=10"/>
    <add name="akumulidb" providerName="akumuli" connectionString="Data Source = tcp://172.24.0.8:8282;Initial Catalog=main;User Id =; Password =; Application Name = default;Max Pool Size=200;Packet Size=2048;Connection Timeout=100"/>
    <add name="sqldb" providerName="mssql" connectionString="Server=10.0.0.177,1401;Database=master; User Id=sa; Password={$mssql_password};Connection Timeout=5;" />
    <add name="mysqldb" providerName="mysql" connectionString="Server=mysql01-mysql;Database=sys; User Id=root; Password={$mysql_password};Encrypt=false;" />
  </connectionStrings>
  <Sonar>
    <Runtime scrapeIntervalSeconds="5" skipSSLCheck="true" threads="1"/>
    <InputAdapters>
        <add provider="mysql" type="Samples.Sonar.Adapters.MySql.MySqlAdapterFactory" path="Samples.Sonar.Adapters.MySql.dll" />
    </InputAdapters>
    <Schedules> 
        <add name="m01" query="innodb_metrics" input="mysqldb" intervalSeconds="10" />
    </Schedules>
    <Servers>
        <add name="win7" url="http://10.0.0.212:5985/wsman" timeoutMilliseconds="2000" authType="Basic" forceBasic="true"/>
    </Servers>   
    <Queries>
        <add name="innodb_metrics" type="sql"
        filter="SELECT NAME, SUBSYSTEM, COUNT as cntr_value FROM information_schema.INNODB_METRICS WHERE status='enabled';">
                <Tags>                   
                    <add name="Subsystem" value="SUBSYSTEM"/>
                </Tags>
                 <Instances>
                    <add name="NAME" value="NAME" />               
                </Instances>
                <Values>
                </Values>
        </add>                
    </Queries>
  </Sonar>
 </configuration>
