<?xml version="1.0"?>
<configuration>
<configSections>
    <section name="Sonar" type="Infragravity.Sonar.SonarConfigurationSection, Sonar"/>
</configSections>
<appSettings>
    <add key="ConfigPath" value="/Config/Sonar.config"/>
    <add key="RuntimeType" value="Console"/>
    <add key="LogLevel" value="Debug"/>
    <add key="LogPath" value="/Config/Sonarc.log"/>
    <add key="ExporterPort" value="9090"/>
    <add key="ExporterCacheMilliseconds" value="60000"/>
    <add key="ExporterEnabled" value="true"/>
    <add key="mssql_password" value="Pass@word1"/>
    <add key="wsman_password" value="Pass@word1"/>
</appSettings>
</configuration>