<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="Sonar" type="Infragravity.Sonar.SonarConfigurationSection, Sonar"/>
  </configSections>
  <connectionStrings>
    <add name="wsman" providerName="wsman" connectionString="Server=win7;" />
    <add name="dcom10" providerName="dcom" connectionString="Server=win7;" />
    <add name="influxdb" providerName="influx" connectionString="Data Source = udp://influx-influxdb:8092;Initial Catalog=sonar;User Id =; Password =; Application Name = default;Max Pool Size=100;Packet Size=4094;Connection Timeout=10"/>
    <add name="akumulidb" providerName="akumuli" connectionString="Data Source = tcp://aku-akumuli:8282;Initial Catalog=main;User Id =; Password =; Application Name = default;Max Pool Size=200;Packet Size=2048;Connection Timeout=100"/>
    <add name="sqldb" providerName="mssql" connectionString="Server=10.0.0.177,1401;Database=master; User Id=sa; Password=Pass@word1;Connection Timeout=5;" />
    <add name="mysqldb" providerName="mysql" connectionString="Server=10.0.0.177;Database=sys; User Id=root; Password=Pass@word1;Connect Timeout=1;" />
    <add name="input-akumuli-http" providerName="akumuli-http-receive" connectionString="Server=http://aku-akumuli/api/query; Connect Timeout=5;" />
  </connectionStrings>
  <Sonar>
    <Runtime scrapeIntervalSeconds="5" skipSSLCheck="true" threads="1"/>
    <InputAdapters>
        <add provider="akumuli-http-receive" type="Infragravity.Sonar.Adapters.Akumuli.Http.InputAdapterFactory,Infragravity.Sonar.Adapters.Akumuli.Http" />
    </InputAdapters>
    <Schedules> 
        <add name="a01" query="aku-test" input="input-akumuli-http" intervalSeconds="10" />
    </Schedules>
    <Servers>
        <add name="win171" url="http://10.0.0.212:5985/wsman" timeoutMilliseconds="2000" authType="Basic" forceBasic="true"/>
    </Servers>   
    <Queries>
        <add name="aku-test" type="raw" timestamp="ts"
        filter="{ &quot;group-aggregate&quot;:
                    {
                    &quot;metric&quot;: &quot;sql_server_io_history_io_stall_write_ms&quot;,
                    &quot;step&quot;: &quot;15s&quot;,
                    &quot;func&quot;: [&quot;mean&quot;,&quot;min&quot;,&quot;max&quot;]
                    },
                    &quot;range&quot;: { &quot;from&quot;: &quot;timeshift(15s)&quot;,&quot;to&quot;: &quot;timeshift(0s)&quot;},
                    &quot;output&quot;: { &quot;format&quot;: &quot;csv&quot;,&quot;timestamp&quot;: &quot;raw&quot;  },
                    &quot;limit&quot; : &quot;100&quot;,
                    &quot;order-by&quot;:&quot;series&quot;,
                    &quot;apply&quot;:[] }">
            <Tags>                   
            </Tags>
            <Values>
            </Values>
            <Labels>
                <add name="all" regex="([a-z_]+)=(.+)" targetLabel="$1" replacement="$2"/>
                <add name="customhost" regex="([a-z_]+)=(.+)" targetLabel="myhost" replacement="$2"/>
            </Labels>
        </add>
        <add name="aku-test2" type="raw" timestamp="ts"
        filter="{ &quot;group-aggregate&quot;:
                    {
                    &quot;metric&quot;: &quot;sql_server_io_history_io_stall_write_ms&quot;,
                    &quot;step&quot;: &quot;30s&quot;,
                    &quot;func&quot;: [&quot;max&quot;,&quot;min&quot;]
                    },
                    &quot;range&quot;: { &quot;from&quot;: &quot;timeshift(1m)&quot;,&quot;to&quot;: &quot;timeshift(0s)&quot;},
                    &quot;output&quot;: { &quot;format&quot;: &quot;csv&quot;,&quot;timestamp&quot;: &quot;raw&quot;  },
                    &quot;limit&quot; : &quot;100&quot;,
                    &quot;order-by&quot;:&quot;series&quot;,
                    &quot;apply&quot;:[] }">
            <Tags>                   
            </Tags>
            <Values>
            </Values>
            <Labels>
                <add name="all" regex="([a-z_]+)=(.+)" targetLabel="$1" replacement="$2"/>
                <add name="customhost" regex="([a-z_]+)=(.+)" targetLabel="myhost" replacement="$2"/>
            </Labels>
        </add>
    </Queries>
  </Sonar>
 </configuration>
